<h1><%= t :editarticle, scope: 'titles' %></h1>
 
<%= form_with model: @article, url: journalist_article_path(@article), local: true do |form| %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
 
    <p>
        <%= form.label :lead %><br>
        <%= form.text_area :lead %>
    </p>

    <p>
        <%= form.label :content %><br>
        <%= form.text_area :content %>
    </p> 
    <%# <%= form.select :category_ids, options_for_select(@category.ids), {include_blank: true, multiple: true} %>
    <%= form.collection_select :category_ids, @category, :id, :name, {include_blank: false}, {multiple: true} %>
    <%# <%= form.select(:category_ids, @category.collect {|p| [ p.name, p.id ] }) %> 
    <p>
        <%= form.submit %>
    </p>

    <p> 
        <%= link_to t('delete', scope: 'links'), 
            journalist_article_path(@article), 
                method: :delete,
                data: { confirm: 'Are you sure?' } 
        %>     
    </p>
        
<% end %>
 
<%= link_to t('back', scope: 'links'), journalist_article_path %>